# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.env

# Build output
build/
dist/
static/
index.html
manifest.json
asset-manifest.json
service-worker.js

# Optional: if you also moved build files to root
main.*.js
main.*.css
*.map



