# dependencies
/node_modules
/backend

# build output
#/build
/dist
/asset-manifest.json
/index.html
/static
*.log

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# custom config with API keys
/src/config.ts

# system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
